/* styles.css */
* {
  background-color: whitesmoke;
}
/* Styles for App container */
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* App.css */
.add-student-button {
  background-color:  #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block; /* Ensures block-level display */
  text-align: center;
  border: 1px solid #212529;
}

.add-student-button:hover {
  background-color: #ffffff; /* Example of hover effect */
}

.add-student-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* Styles for Search input */
.search-input {
  margin-right: 10px;
  padding: 5px;
  width: 200px;
  height: 28px;
}

/* Styles for Data table */
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  text-align: center;
}

.data-table th {
  background-color: #f2f2f2;
}

/* Styles for Buttons */
button {
  padding: 8px 12px;
  margin-right: 10px;
  cursor: pointer;
  /* Default button color */
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 12px;
  border: 1px solid #212529;
}

/* Hover effect for buttons */
button:hover {
  background-color: #0056b3;
  color: #f2f2f2;
}

/* Specific button styles for delete */
button.delete {
  background: linear-gradient(
    to bottom,
    #dc3545,
    #bd2130
  ); /* Linear gradient background */
  width: 70px;
  color: #fff; /* Text color */
  border: 1px solid #212529; /* Black border with 1px width */
  padding: 8px 12px; /* Adjust padding as needed */
  cursor: pointer;
}

button.delete:hover {
  background: linear-gradient(
    to bottom,
    #bd2130,
    #dc3545
  ); /* Gradient on hover */
  border-color: #fff;
}

/* Specific button styles for edit */
button.edit {
  background-color: #ffc107;
  color: #212529; /* Adjust text color for visibility */
  width: 70px;
  border: 1px solid #212529;
}

button.edit:hover {
  background-color: #e0a800;
}

/* Specific button styles for more details */
button.more-details {
  background-color: #28a745;
  width: 70px;
  border: 1px solid #212529;
}

button.more-details:hover {
  background-color: #218838;
}

/* Positioning Search input */
.search-container {
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .search-input {
    width: 100%;
    max-width: 300px; /* Adjust maximum width as needed */
  }

  .data-table {
    overflow-x: auto; /* Enable horizontal scrolling on small screens */
  }
}
